.dart_tool/
.packages
build/
.idea/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
android/.gradle/
android/local.properties
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
